<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Veterinarians')}"></head>
<body>
<div th:replace="~{fragments/layout :: nav}"></div>

<h2>Veterinarians</h2>
<table border="1" cellpadding="6">
    <thead>
    <tr><th>Name</th><th>Specialties</th></tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.firstName + ' ' + vet.lastName}">Name</td>
        <td>
            <span th:if="${vet.nrOfSpecialties == 0}">none</span>
            <span th:each="specialty, iter : ${vet.specialties}">
                <span th:text="${specialty.name}"></span><span th:if="${!iter.last}">, </span>
            </span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
